body {
    background-image: url(/resources/img/mo.png);
}

.navbar {
    background-color: #8540F5;
}

.logo {
    width: 150px;
    height: 50px;
    object-fit: cover;
}

.logo-verkoper {
    height: 50px;
}

.nav-link {
    color: white;
}

.nav-link:hover {
    color: rgb(86, 86, 86);
}

table {
    border: 8px solid;
    border-radius: 5px 5px 0 0;
    border-collapse: separate;
    border-spacing: 0;
}

.page-titel {
    color: white;
    text-align: left;
}

.page-tekst {
    color: white;
    text-align: left;
}

#add-verkoper {
    background-color: #97CAA8;
    border: solid 2px #024800;
    color: white;
    text-decoration: none;
}

.form-toevoegen-verkoper {
    background: rgba(255,255,255,.08);
    border: 1px solid rgba(255,255,255,.18);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    width: 500px;
    height: 500px;
}

.form-toevoegen-verkoper input {
    border-radius: 5px;
    background-color: white;
    height: 40px;
    width: 80%;
}

.form-toevoegen-verkoper input::placeholder {
    padding-left: 10px;
}

.form-toevoegen-verkoper input:hover {
    border: black 3px solid;
}

.form-toevoegen-verkoper button {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    font-weight: bold;
    border: white 1px solid;
    border-radius: 10px;
    width: 50%;
    height:40px;
}

.form-toevoegen-verkoper button:hover {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    font-weight: bold;
    border: black 3px solid;
}

@media (max-width: 768px) {
    .page-titel {
        text-align: center;
    }

    .page-tekst {
        text-align: center;
    }
}